# --- .NET ---
bin/
obj/
*.user
*.rsuser
*.suo
*.cache
*.dll
*.pdb
*.vshost.*
*.dbmdl

# --- Build folders ---
/**/bin/
/**/obj/

# --- Logs ---
*.log
logs/

# --- VS / Rider ---
.vs/
.idea/

# --- VS Code ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- System ---
Thumbs.db
*.DS_Store

# --- Environment ---
*.env
*.env.local

# --- Node / React ---
node_modules/
dist/
build/
*.tsbuildinfo

# --- Yarn / NPM ---
yarn-error.log
npm-debug.log

# --- Publish output ---
publish/
wwwroot/